@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	scroll-behavior: smooth;
}
.main {
	--theme-white: 235, 243, 139;
	--theme-black: 88, 77, 61;

	--theme-primary: 170, 200, 130;
	--theme-primary-inverted: 159, 149, 108;

	--theme-secondary: 150, 70, 90;
	--theme-secondary-inverted: 240, 240, 200;

	--theme-accent: 80, 80, 90;
	--theme-accent-inverted: 244, 232, 124;

	--theme-success: 155, 200, 142;
	--theme-success-inverted: 155, 200, 142;

	--theme-danger: 255, 123, 123;
	--theme-danger-inverted: 255, 123, 123;

	--theme-info: 86, 202, 202;
	--theme-info-inverted: 86, 202, 202;

	font-family: "Poppins", sans-serif;
}
